p{
    font-family: 'Varela round', sans-serif;
    font-size: 15px;
}

h2{
    font-size: 20px;
}

*{
    color: black;
}

.quoteTag{
    background-color: #dee2e6;
    padding: 20px;
    margin: 10px;
    border-left: 5px solid #f3dc09 !important;
    border-radius: 5px;
}

.table{
    width: 100%;
    padding: auto;
    border: collapse;
    border: 1px solid #000;
}

.table th, .table td{
    padding: 10px;
}

.Large{
    width:50%;
}

.myButton{
    border: 1px groove #F0B90B;
    background-color: #F0B90B;
    color: #000;
    border-radius: 50px;
    width: 60px;
    height: 30px;
}

.VerifyBVN{
    display:block
}

.myButton:hover{
    background-color: #f3dc09;
}

.paramsHeading{
    font-size: 14px;
    font-weight: bold;
}


.params{
    font-size: 18px;
    font-weight: bolder;
}


.accordion-body > pre{
    background-color:darkgray !important;
    color: #fff;
}


.panel-body{
    display: flex;
}